<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>免费量房报价_互联网工长装修O2O服务平台</title>
<meta name="keywords" content="七工长,工长俱乐部,老房翻新,新浪装修,常州装修公司,装修施工队" />
<meta name="description" content="七工长(www.七工长.com)致力于通过互联网装修平台整合供求两端的资源形成一个有效的网络施工平台，帮助装修业主寻找到靠谱的装修队和设计师，减少中间环节，帮业主省心省钱装修。" />
<link type="text/css" rel="stylesheet" href="../static/css/style.css">
<link type="text/css" rel="stylesheet" href="../static/css/nyqh.css" />
<link type="text/css" rel="stylesheet" href="../static/images/gren.css" />
</head>
<body>
       
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" media="screen" />
 <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?506414987e1d6cbd3961f16e74f29db9";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script src="/js/jquery.min.1.8.js" type="text/javascript"></script>

<div class="ab01">
<div class="ab02">
<table width="1200"   align="center"  cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="54" height="33"  align="left" >
<div class="head_add">
    常州 </div>


 </td>
 
 <td width="48"  >
 
<div style="padding-top:1px;"  align="left" ><a href="qie.php">切换</a></div>

 </td>
 
  
<td width="270"><div class="font12 huis" align="left">您好，欢迎来到互联网工长装修O2O服务平台！</div></td>
<td width="90">
<div class="wx_tips2" align="center">
<div class="tips_hd2">

<div class="font12 huis" align="left">官方微信</div>
</div>
<div class="tips_bd2">
   <img src="http://www.sina7gz.com//uploadfile/image/20180325/20180325190951_13556.jpg" width="150"  />
    
  </div>
</div>

</td>
<td width="564"  align="left" >
<div class="font12 dtop">
<a href="/member/login.php" target="_blank" >请登录</a> | <a href="/member/reg.php" target="_blank" >免费注册</a>  | <a href="/zb/" target="_blank" >我要装修</a> | <a href="/service" target="_blank" >服务保障</a> | <a href="/proxy" target="_blank" >分站代理</a>
 | <a href="/member/reg_gz.php" target="_blank" >工长加盟</a>

| <a href="/member/reg_sjs.php" target="_blank" >设计师加盟</a> 


 
</div></td>
<td width="174" align="right" ><div class="adtel">装修热线：<span class="hongs">4001678367</span></div></td>
</tr>
</table>
</div>
</div>
<div class="a11">
<div class="a12">
<table width="1200"   align="center"  cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="270"  align="left" ><div class="logo"><a href="/">七工长-新浪装修、常州工长装修-常州施工队-常州老房翻新-新浪七工长常州站 
</a></div></td>
 
<td width="930" align="right"  valign="top">
 <link type="text/css" href="/css/lanrenzhijia.css" rel="stylesheet" />
 <div id="cssmenu">
        <ul>
  
 <li >   
 <a href="/" class="" target="_blank" >首 页</a>
 
  
 </li>
   
 <li >   
 <a  href="/gong/" class="" target="_blank" >找工长</a> 
 
  
 </li>
   
 <li >   
 <a  href="/design" class="" target="_blank" >找设计师</a> 
 
  
 </li>
   
 <li >   
 <a  href="/zb/" class="" target="_blank" >我要装修</a> 
 
  <ul>
  <li class="cwens"></li>
   <li class="dwen"></li> 
  <li ><a  href="/shop/" target="_blank" >368施工包</a></li>
  <li ><a  href="/shop/388.php" target="_blank" >388主材包</a></li>
  <li ><a  href="/shop/wzx.php" target="_blank" >7天旧房翻新</a></li>
  <li class="dwen"></li> 
  </ul> 
  
 </li>
   
 <li >   
 <a  href="/gongdi" class="" target="_blank" >在建工地</a> 
 
  
 </li>
   
 <li >   
 <a  href="/case" class="" target="_blank" >设计案例</a> 
 
  
 </li>
   
 <li >   
 <a  href="/comment" class="" target="_blank" >业主点评</a> 
 
  
 </li>
   
 <li >   
 <a  href="/hd" class="" target="_blank" >最新活动</a> 
 
  
 </li>
   </ul>
</div>
<div class="clear"></div>

</td>
</tr>
</table>
</div>
</div> 


<div id="banner_txt">
            <div class="banner_txt">
                <ul class="clearfix">
                    <li class="zhuangxiu">
                        <h3>装修价格透明</h3>
                        <p>去除中间环节，直面工长</p>
                    </li>
                    <li class="free">
                        <h3>装修6+1服务</h3>
                        <p>提供多项装修服务，省力省心</p>
                    </li>
                    <li class="pay">
                        <h3>先装修 后付款</h3>
                        <p>提供装修贷款服务，享受先装后付</p>
                    </li>
                </ul>
                <div class="hotline">
                	<div class="show-img">
                		<h3>七工长互联网装修平台</h3>
                		<p>帮您找到工匠精神好工长，提供安心保障</p>
                	</div>
                    <img src="/images/nav_p1.png"/>
                    <div class="hotline_bg"></div>
                </div>
            </div>
        </div>
<div class="clear"></div> <link rel="stylesheet" type="text/css" href="/design/images/jquery.alertable.css">  
 
<script src="/design/images/jquery.alertable.js"></script>
<script type="text/javascript">
	$(function() {
	  $('.alert-demo').on('click', function() {
		$.alertable.alert('Howdy!');
	  });
	});
</script>   
<div class="clear"></div>
 
<script language="javascript">
function checkform(){
 
if(document.form1.bname.value==''){
	   document.form1.bname.focus();
	   $.alertable.alert('请填写您的称呼！');	
     
      return false;
      }
if(document.form1.tel.value==''){
	 document.form1.tel.focus();
	 $.alertable.alert('请填写您的电话！');	
     
      return false;
      }
if(document.form1.dangc.value==''){
	document.form1.dangc.focus();
	 $.alertable.alert('请选择装修档次！');	
      
      return false;
      }
if(document.form1.leix.value==''){
	document.form1.leix.focus();
	   $.alertable.alert('请选择装修类型！');	
      
      return false;
      }
 
 
	 return true;
}

</script> 
<div class="threeBannerW threeBannerW_baojia">
  
    <div class="banner_insideW">
        
        <div class="bannerApplyForm_wrapper">
            <div class="yaheiT t1">我要装修</div>
            <div class="t2 font12">七工长网已为 <span class="num">659</span> 位业主提供专业装修保障服务</div>
            <div style="padding-left:36px;">
         
                 <form method="post" action="chuli.php" class="bannerApplyForm J_ajaxForm"  name="form1" enctype="multipart/form-data"  onSubmit="return checkform();">
                    <input name="type"  type="hidden"   value="addzx" />    
                    <div class="line">
                        <input class="inp J_delDefVal name" placeholder="您的称呼" name="bname">
                        <div class="err"></div>
                    </div>
                    <div class="line">
                        <input class="inp J_delDefVal mobilephone" placeholder="手机号码" name="tel">
                        <div class="err"></div>
                    </div>
                    <div class="line">
                        <div class="clear">
                            <div class="province_w">
                                <select class="sel province" id="s_province" name="s_province">
                                    
                                </select>
                                <div class="err"></div>
                            </div>
                            <div class="city_w">
                                <select class="sel city" id="s_city" name="s_city" >
                                    
                                </select>
                                <div class="err"></div>
                            </div>
                        </div>
                    </div>
                    <div class="line clear pd10">
                        <div class="province_w">
                         <select class="sel province" id="dangc" name="dangc">
                          <option  value=""  >选择装修档次</option> 
                              <option  value="标准档次"  >标准档次</option> 
                              <option  value="中档装修"  >中档装修</option> 
                              <option  value="高档装修"  >高档装修</option>   
                                </select>
                        
                            
                            <div class="err"></div>
                        </div>
                       <div class="city_w">
                       
                       <select class="sel city" id="leix" name="leix">
                          <option  value=""  >选择装修类型</option> 
                              <option  value="清包人工"  >清包人工</option> 
                              <option  value="半包辅料"  >半包辅料</option> 
                              <option  value="全屋整装"  >全屋整装</option>   
                                </select>
                       
                            
                            <div class="err"></div>
                        </div>
                    </div>
                    <div class="line clear pd10">
                        <select class="sel price_kind" name="fangs">
                             <option value="新房装修">新房装修</option><option value="二手房装修">二手房装修</option>                                          </select>
                        <div class="err"></div>
                    </div>
                    <input type="submit" value="立即提交申请" class="J_ajaxSubmitBtn sendApplyBtn"/>
                </form>
                <div class="promiseW font12"><span style="color:#ff4400;">我们承诺：</span>免费提交申请后，可以免费获得1-3位工长上门量房、报价，综合比较，选最佳，并可享受七工长网4大装修保障！</div>
            </div>
        </div>
    </div>
</div>

<div class="layout-index mx-w">
	<div class="tit yaheiT">七工长4大保障措施，让您放心找工长</div>
	<div class="quote-youshi4" style="padding-left:30px;">
		<img src="images/quote-ys01.png" width="159" height="159" alt="" />
		<div class="t">100%实名制认证</div>
		<div class="txt">所有加入七工长网的装修工长，必须在七工长网进行身份信息备案，身份证保留复印件。</div>
	</div>
	<div class="quote-youshi4" style="padding-left:175px;">
		<img src="images/quote-ys02.png" width="159" height="159" alt="" />
		<div class="t">网络口碑调查</div>
		<div class="txt">所有加入七工长网的装修工长，我们前期都会对其进行网络口碑调查，确保工长是讲信誉，信得过的七工长。</div>
	</div>
	<div class="quote-youshi4" style="padding-left:175px;">
		<img src="images/quote-ys03.png" width="159" height="159" alt="" />
		<div class="t">质保金约束</div>
		<div class="txt">每个加入七工长网的装修公司，均需向网站缴纳以使用保证金对工长进行约束。</div>
	</div>
	<div class="quote-youshi4" style="padding-left:175px;">
		<img src="images/quote-ys04.png" width="159" height="159" alt="" />
		<div class="t">网站媒体监督</div>
		<div class="txt">对不诚信的工长，网站一经发现，永不合作，并且会对其进行曝光络平台的力量，对工长进行舆论监督。</div>
	</div>
</div>
<div class="quote-ysdb"></div>
<div class="layout-index">
	<div class="mx-lf-tit yaheiT">最新申请量房信息</div>
	<div class="mx-lf-list-t">
		<span>装修业主</span><!--<span class="w">小区名称</span>--><span>小区名称</span><span>面积（㎡）</span><span>装修类型</span><span>预算</span><span>发布时间</span>
	</div>
<div id=demo style="overflow:hidden;height:215px;width:100%; ">
<div id=demo1> 
 		<div class="mx-lf-list">
		<span>tghhcc</span><!--<span class="w">塘沽</span>--><span></span><span>㎡</span><span></span><span></span><span>2019-10-28</span>
	</div>
	<div class="mx-lf-list">
		<span>李伟</span><!--<span class="w">塘沽</span>--><span>普通装修</span><span>㎡</span><span></span><span></span><span>2019-10-19</span>
	</div>
	<div class="mx-lf-list">
		<span>丁</span><!--<span class="w">塘沽</span>--><span>中档装修</span><span>㎡</span><span></span><span></span><span>2019-10-08</span>
	</div>
	<div class="mx-lf-list">
		<span>丁</span><!--<span class="w">塘沽</span>--><span>世纪学府</span><span>㎡</span><span></span><span></span><span>2019-10-08</span>
	</div>
	<div class="mx-lf-list">
		<span>樟树</span><!--<span class="w">塘沽</span>--><span>伤心</span><span>89㎡</span><span></span><span>9-12万</span><span>2019-03-04</span>
	</div>
	<div class="mx-lf-list">
		<span>马先生</span><!--<span class="w">塘沽</span>--><span>江苏</span><span>100㎡</span><span></span><span>3-5万</span><span>2019-02-28</span>
	</div>
	<div class="mx-lf-list">
		<span>韩先生</span><!--<span class="w">塘沽</span>--><span>招商花园城</span><span>㎡</span><span></span><span></span><span>2019-02-11</span>
	</div>
	<div class="mx-lf-list">
		<span>余女士</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-25</span>
	</div>
	<div class="mx-lf-list">
		<span>谢先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-25</span>
	</div>
	<div class="mx-lf-list">
		<span>唐先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-24</span>
	</div>
	<div class="mx-lf-list">
		<span>孟先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-24</span>
	</div>
	<div class="mx-lf-list">
		<span>李女士</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-23</span>
	</div>
	<div class="mx-lf-list">
		<span>关先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-23</span>
	</div>
	<div class="mx-lf-list">
		<span>马先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-21</span>
	</div>
	<div class="mx-lf-list">
		<span>司先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-21</span>
	</div>
	<div class="mx-lf-list">
		<span>吴先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-16</span>
	</div>
	<div class="mx-lf-list">
		<span>罗先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-16</span>
	</div>
	<div class="mx-lf-list">
		<span>汪女士</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-15</span>
	</div>
	<div class="mx-lf-list">
		<span>郑先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-15</span>
	</div>
	<div class="mx-lf-list">
		<span>朱先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-14</span>
	</div>
	<div class="mx-lf-list">
		<span>余先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-14</span>
	</div>
	<div class="mx-lf-list">
		<span>肖女士</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-12</span>
	</div>
	<div class="mx-lf-list">
		<span>张先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-12</span>
	</div>
	<div class="mx-lf-list">
		<span>方女士</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-11</span>
	</div>
	<div class="mx-lf-list">
		<span>刘先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-11</span>
	</div>
	<div class="mx-lf-list">
		<span>何先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-10</span>
	</div>
	<div class="mx-lf-list">
		<span>王先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-10</span>
	</div>
	<div class="mx-lf-list">
		<span>石女士</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-08</span>
	</div>
	<div class="mx-lf-list">
		<span>杨先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-08</span>
	</div>
	<div class="mx-lf-list">
		<span>马女士</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-07</span>
	</div>
	<div class="mx-lf-list">
		<span>周总</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-07</span>
	</div>
	<div class="mx-lf-list">
		<span>冯女士</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-05</span>
	</div>
	<div class="mx-lf-list">
		<span>黄先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-05</span>
	</div>
	<div class="mx-lf-list">
		<span>宋先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-03</span>
	</div>
	<div class="mx-lf-list">
		<span>盛先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2019-01-03</span>
	</div>
	<div class="mx-lf-list">
		<span>王女士</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2018-12-29</span>
	</div>
	<div class="mx-lf-list">
		<span>郭先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2018-12-29</span>
	</div>
	<div class="mx-lf-list">
		<span>沈先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2018-12-28</span>
	</div>
	<div class="mx-lf-list">
		<span>方先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2018-12-28</span>
	</div>
	<div class="mx-lf-list">
		<span>李女士</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2018-12-26</span>
	</div>
	<div class="mx-lf-list">
		<span>吴先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2018-12-26</span>
	</div>
	<div class="mx-lf-list">
		<span>查女士</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2018-12-25</span>
	</div>
	<div class="mx-lf-list">
		<span>方先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2018-12-25</span>
	</div>
	<div class="mx-lf-list">
		<span>李女士</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2018-12-24</span>
	</div>
	<div class="mx-lf-list">
		<span>杨先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2018-12-24</span>
	</div>
	<div class="mx-lf-list">
		<span>柳先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2018-12-23</span>
	</div>
	<div class="mx-lf-list">
		<span>唐先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2018-12-23</span>
	</div>
	<div class="mx-lf-list">
		<span>丁先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2018-12-21</span>
	</div>
	<div class="mx-lf-list">
		<span>程先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2018-12-21</span>
	</div>
	<div class="mx-lf-list">
		<span>吕先生</span><!--<span class="w">塘沽</span>--><span>小区</span><span>㎡</span><span></span><span></span><span>2018-12-20</span>
	</div>
</div>
<div id=demo2></div>
</div>
   <script>
   var speed=50
   demo2.innerHTML=demo1.innerHTML
   function Marquee(){
   if(demo2.offsetTop-demo.scrollTop<=0)
   demo.scrollTop-=demo1.offsetHeight
   else{
   demo.scrollTop++
   }
   }
   var MyMar=setInterval(Marquee,speed)
   demo.onmouseover=function() {clearInterval(MyMar)}
   demo.onmouseout=function() {MyMar=setInterval(Marquee,speed)}
   </script>
    
    
    </div>
<div class="quote-fw"></div>
<div class="layout-index"><img src="images/quote-pk.jpg" width="1220" height="587" alt="" /></div>
<div class="quote-fapk"></div>
<div class="layout-index mx-w clear" style="margin-bottom:60px;">
	<div class="tit yaheiT">权威媒体报道，七工长推动行业变革</div>
	<div class="mx-mtbd">
		<a href="javascript:;"><img src="images/mt-sjs01.jpg" width="240" height="460" alt="" style=" margin-left:56px;" /></a>
		<a href="javascript:;"><img src="images/mt-sjs02.jpg" width="240" height="460" alt="" style=" margin-left:194px;"/></a>
		<a href="javascript:;"><img src="images/mt-sjs03.jpg" width="240" height="460" alt="" style=" margin-left:194px;"/></a>
	</div>
</div>



<script class="resources library" src="../static/images/city.js" type="text/javascript"></script>
<script type="text/javascript">

var s=["s_province","s_city"];//三个select的name
var opt0 = ["选择省份","选择城市"];//初始值
function _init_area(){ //初始化函数
  for(i=0;i<s.length-1;i++){
   document.getElementById(s[i]).onchange=new Function("change("+(i+1)+")");
  }
  change(0);
}


_init_area();

</script>


<div class="clear"></div>
<table width="100%"   align="center"  cellpadding="0" cellspacing="0" border="0">
<tr><td height="20"  ></td></tr>
</table>  
 
<div class="bottom-nav pd30" align="center"> 
<div class="fmenu">
<a href="/" target="_blank" >首页</a>   |  
<a href="/about" target="_blank" >关于我们</a>  |  
<a href="/gong" target="_blank" >找工长</a>  |  
<a href="/design" target="_blank" >找设计师</a>   |  
<a href="/gongdi" target="_blank" >在建工地</a>   |  
<a href="/case" target="_blank" >设计案例</a>   |  
<a href="/comment" target="_blank" >业主点评</a>   |
<a href="/hd" target="_blank" >最新活动</a> |
<a href="/service" target="_blank" >服务保障</a>

</div>
<div class="copyright"  align="center">

七工长互联网装修-互联网O2O装修推荐保障服务平台<br>
Copyright © 2016-2020 sina7gz.com  七工长.com、 常州新浪工长装修有限公司 保留所有权 联系热线：4001678367 <br>
 技术支持：新浪工长装修有限公司 &nbsp;   <a href="http://www.beian.miit.gov.cn" style="color:#FFFFFF;" target="_blank">苏ICP备17035315号-1</a>
 
</div>
</div>

<div style="display:none;"><a href="http://www.nswei.com" target="_blank">新视维网络</a> </div>

  
 
</body>
</html>

